@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

:root {
  --primary-color: #32005c;
  --secondary-color: #ff00ff;
  --tertiary-color: #17f6f5;
  --text-one: #fff;
  --text-two: #000;
  --gray: #d7d7d7;
}

@keyframes colorCycle {
  0% {
    box-shadow: 2px 2px 3px 3px var(--primary-color);
  }
  33% {
    box-shadow: 2px 2px 3px 3px var(--secondary-color);
  }
  66% {
    box-shadow: 2px 2px 3px 3px var(--tertiary-color);
  }
  100% {
    box-shadow: 2px 2px 3px 2px var(--primary-color);
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

p,
button,
label,
input,
span,
textarea {
  font-family: "Comfortaa", sans-serif;
}
